@use '../mixins';

.cart{
    visibility: hidden;
    position: fixed;
    inset: 0;
    z-index: 10;
    transition: visibility .2s ease;

    &__open{
        visibility: visible;
    }

    &__bg{
    position: fixed;
    inset: 0;
    background-color: rgba(#000, 0.5);
    display: grid;
    z-index: 10;
    place-items: center;}
    
    &__box{
        --y: 0;
        z-index: 10;
        width: 400px;
        max-width: 400px;
        padding: 32px;
        background-color: var(--white);
        border-radius: 6px;
        position: fixed;
        right: 10vh;
        top: var(--y);
        color: var(--black);
    }

    &__empty{
        display: flex;
        gap: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__icon{
        max-width: 100px;
    }

    &__empty-title{
        font-weight: 700;
        text-align: center;
    }

    &__empty-paragraph{
        font-size: .9rem;
        color: var(--slate);
        text-align: center;
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow-y: auto;        
        max-height: 40vh;

        &::-webkit-scrollbar{
            width: 16px;
            background-color: var(--silver);
            border-left: solid 12px var(--white);
        }
        
        &::-webkit-scrollbar-thumb{
            border-left: solid 12px var(--white);
            width: 16px;
            background-color: var(--gray);
        }
    }

    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
    }
    
    &__information{
        align-items: center;
        display: flex;
        gap: 12px;
        max-width: 65%;

    }

    &__image{
        max-width: 56px;
        border-radius: 6px;
    }

    &__data{
        display: flex;
        max-width: 100%;
        overflow: hidden;
        flex-direction: column;
        gap: 4px;
        color: var(--slate);
        font-weight: 600;
        font-size: .8rem;
    }

    &__title{
        display: flex;
        justify-content: space-between;
        margin: 0 0 24px;
    }

    &__length{
        font-size: .9rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__remove-all{
        text-decoration: underline;
        color: var(--slate);
        font-size: .8rem;
        cursor: pointer;
    }

    
    &__name{
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: .9rem;
        color: var(--black);
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 24px;
        justify-self: center;
    }

    &__buttons {
        display: flex;
    }

    &__button,
    &__quantity {
        width: 32px;
        aspect-ratio: 1;
        display: grid;
        place-items: center;
        padding: 8px;
        font-size: .8rem;
        background-color: var(--silver);
        font-weight: 700;
        user-select: none;
    }

    &__button {
        font-size: .65rem;
        cursor: pointer;
        color: var(--gray);
        transition: filter .2s ease;

        &:hover {
            filter: brightness(90%);
        }
    }

    &__total{
        display: flex;
        justify-content: space-between;
        color: var(--slate);
        text-transform: uppercase;
        margin: 24px 0 0;
        font-size: .9rem;
        align-items: center;
    }

    &__total-amount{
        color: var(--black);
        font-weight: 700;
    }

    &__link{
        @include mixins.button();
        background-color: var(--orange);
        color: var(--white);
        text-transform: uppercase;
        margin: 24px 0 0;
        font-weight: 700;
        max-width: 100%;
        letter-spacing: 2px;
        transition: filter .2s ease;
        &:hover{
            transform: none;
            filter: brightness(90%);
        }
    }

    &__amount{
        font-size: .85rem;
        font-weight: 600;
        color: var(--slate);
    }
}

@mixin media-cart-572px{


    .cart{
        display: flex;
        justify-content: center;
        &__box{
            width:calc(100vw - 24px);
            transform: translateX(-1000%);
            max-width: 500px;
            right: calc(100vw / 100 + 6px);
        }


        &__name{
            font-size: .8rem;
        }

        &__total-price{
            font-size: .7rem;
        }

        &__button,
        &__quantity {
            width: 32px;
        }
    }
}