@mixin button() {
    $p-side: 32px;
    display: grid;
    place-items: center;
    padding: 16px $p-side;
    max-width: calc(11ch * 1.5 + ($p-side * 2));
    font-size: .7rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: transform .2s ease;

    &:hover {
        transform: translateY(-3px);
    }
}